@mixin font-size($x) {
  font-size: $x
}

// transition
@mixin transition($x) {
  transition: $x;
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
}

// transform
@mixin transform($x) {
  transform: $x;
  -webkit-transform: $x;
  -moz-transform: $x;
  -ms-transform: $x;
  -o-transform: $x;
}

@mixin button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px;
}
