$font-theme:                  'Titillium Web', sans-serif;

$body-font:                   $font-theme;

$font-size-base:              14px;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semi-bold:       600;
$font-weight-bold:            700;



$body-line-height:            1.7142857143;

// color
$color-white:                #ffffff;    
$body-color:                 #666666;
$heading-color:             #000;
$overlay-color:             rgba(0, 0, 0, 0.5);