.navbar {
  background-color: black;
}

.auth-links {
  & > *:not(:last-child) {
    margin-right: 10px;
  }

  & > * {
    font-weight: $font-weight-semi-bold;
    color: $white;
  }
}
  


