body {
  &.offcanvas-open {
    overflow-y: hidden;
    padding-right: 17px;
    // @include max-screen(991) {
    //   padding-right: 0px;
    // }
  }
}

.offcanvas-overlay {
  &.active{
    display: block;
  }
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: $overlay-color;
}

// offcanvas
.offcanvas {
  &.offcanvas-open {
    @include transform(translateX(0));
    visibility: visible;
  }
  &.offcanvas-mobile-menu {
    right: auto;
    left: 0;
    transform: translateX(-100%);
    &.offcanvas-open {
      transform: translateX(0);
    }
  }

  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  overflow: hidden;
  width: 400px;
  // @include max-screen(480) {
  //   width: 300px;
  // }
  height: 100vh;
  @include transform(translateX(100%));
  background-color: $color-white;
  box-shadow: none;
  @include transition(0.5s ease-in-out);

}