.App {
  font-family: sans-serif;
}

.navbar {
  /* display: flex; */
  /* justify-content: space-between; */
  background-color: yellowgreen;
}

.logo {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

button > * {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: white;
}

.auth-links {
  align-items: stretch;
}

.auth-links > *:not(:last-child) {
  margin-right: 15px;
}

.auth-links > * {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .d-lg-flex {
    display: flex;
  }
}

.toggle-button > * {
  pointer-events: inherit;
}
